{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center><h1>Flowers</h1></center>
    <center><h1><img src="{% static 'images/d.jpeg' %}" alt="" width="300px" height="300px"></h1></center>
    <center><h2>About flower blooming</h2></center>
    <center>A flower, also known as a bloom or blossom, is the reproductive structure found in flowering plants (plants of the division Angiospermae). Flowers consist of a combination of vegetative organs – sepals that enclose and protect the developing flower.</center>
</body>
</html>